[submodule "res/bootstrap"]
	path = res/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "typo3conf/ext/news"]
	path = typo3conf/ext/news
	url = git://git.typo3.org/TYPO3v4/Extensions/news.git
[submodule "res/bootstrap-lightbox"]
	path = res/bootstrap-lightbox
	url = git://github.com/jbutz/bootstrap-lightbox.git
[submodule "typo3conf/ext/realurl"]
	path = typo3conf/ext/realurl
	url = git://github.com/TYPO3-Extensions/realurl.git
[submodule "res/gmaps"]
	path = res/gmaps
	url = git://github.com/HPNeo/gmaps.git
