<footer class="footer" role="contentinfo">
	<div class="container">        
		<ul class="footer-links">
			
			<f:cObject typoscriptObjectPath="lib.navigation.footer">
			<li><a href="#">Impressum</a></li>
			<li class="muted">&middot;</li>
			<li><a href="#">Kontakt</a></li>
			</f:cObject>
			
			<li class="pull-right">
				<f:cObject typoscriptObjectPath="lib.navigation.footer.top">
				<a href="#">nach oben</a>
				</f:cObject>
			</li>
			
		</ul>
		
		<f:cObject typoscriptObjectPath="lib.general.footer.address">
		<p>Stadtverwaltung Musterstadt, Musterstraße 1, 12345 Musterstadt, Tel. 01234 56-0, Email: <a href="mailto:info@musterstadt.de">info@musterstadt.de</a></p>
		</f:cObject>
		
	</div>
</footer>