{namespace n=Tx_News_ViewHelpers}

<li class="media">
<n:link newsItem="{newsItem}" settings="{settings}">
	

	<f:if condition="{newsItem.media}">
		<f:then>
			
				<f:if condition="{newsItem.mediaPreviews}">
					<f:then>
						<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
							<f:if condition="{mediaElement.type} == 0">
								<f:image
									src="uploads/tx_news/{mediaElement.image}"
									title="{mediaElement.title}"
									alt="{mediaElement.title}"
									width="{settings.list.media.image.width}"
									height="{settings.list.media.image.height}"
									maxWidth="{settings.list.media.image.maxWidth}"
									maxHeight="{settings.list.media.image.maxHeight}"
									class="media-object pull-left"
								/>
							</f:if>
							<f:if condition="{mediaElement.type} == 1">
								<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
							</f:if>
							<f:if condition="{mediaElement.type} == 2">
								<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
							</f:if>
							<f:if condition="{mediaElement.type} == 3">
								<n:format.dam as="dam" uid="{mediaElement.uid}">
									<f:image src="{dam.file_path}{dam.file_name}" title="{dam.title}"  alt="{dam.alt_text}" maxWidth="{settings.list.media.image.maxWidth}" />
								</n:format.dam>
							</f:if>
						</f:alias>
					</f:then>
					<f:else>
						<span class="no-media-element">
							<f:image src="typo3conf/ext/news/Resources/Public/Images/dummy-preview-image.png" title=""  alt="" maxWidth="{settings.list.media.image.maxWidth}"
									maxHeight="{settings.list.media.image.maxHeight}" />
						</span>
					</f:else>
				</f:if>
		</f:then>
		<f:else>
			<f:if condition="{settings.displayDummyIfNoMedia}">
				<f:then>
					<div class="news-img-wrap pull-left">
						<n:link newsItem="{newsItem}" settings="{settings}">
							<span class="no-media-element">
								<f:image src="typo3conf/ext/news/Resources/Public/Images/dummy-preview-image.png" title=""  alt="" maxWidth="{settings.list.media.image.maxWidth}"
									maxHeight="{settings.list.media.image.maxHeight}"/>
							</span>
						</n:link>
					</div>
				</f:then>
			</f:if>
		</f:else>
	</f:if>

	<div class="media-body">
		<small><f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date> - 
			<f:for each="{newsItem.tags}" as="tag" iteration="iterator">
				<f:if condition="{iterator.isLast}">
						<f:then>
							{tag.title}
						</f:then>
						<f:else>
							{tag.title}, 
						</f:else>
				</f:if>
			</f:for>
		</small>
		<h3 class="media-heading">{newsItem.title}</h3>
		
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="true">{newsItem.teaser}</f:format.crop></f:format.html>
			</f:then>
			<f:else>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="true">{newsItem.bodytext}</f:format.crop></f:format.html>
			</f:else>
		</f:if>
		<p><n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-small"><f:translate key="LLL:EXT:theme_government/Resources/Private/Language/locallang.xml:show" /></n:link></p>
	</div>
</n:link>	
</li>
<li class="soften"></li>
