{namespace n=Tx_News_ViewHelpers}

<f:layout name="Detail.html" />

<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
			<n:format.nothing>
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then><n:titleTag><n:format.htmlentitiesDecode>{newsItem.alternativeTitle}</n:format.htmlentitiesDecode></n:titleTag></f:then>
					<f:else><n:titleTag><n:format.htmlentitiesDecode>{newsItem.title}</n:format.htmlentitiesDecode></n:titleTag></f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}"/>
			</n:format.nothing>
			<h2>{newsItem.title}</h2>
			
			<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}"/>
			
			<f:if condition="{newsItem.teaser}">
				<p class="lead">{newsItem.teaser}</p>
			</f:if>
			
			<div class="row">
				<div class="span3">
				<footer role="contentinfo">
					<p><i class="icon-calendar"></i> <f:format.date format="l, d.m.Y - H:i">{newsItem.datetime}</f:format.date></p>
					<p><i class="icon-tags"></i> 
						<f:for each="{newsItem.tags}" as="tag" iteration="iterator">
							<f:if condition="{iterator.isLast}">
								<f:then>
									{tag.title}
								</f:then>
								<f:else>
									{tag.title}, 
								</f:else>
							</f:if>
						</f:for>
					</p>
					<f:if condition="{settings.detail.showSocialShareButtons}">
						<div class="addthis">
							<f:render partial="Detail/Addthis" arguments="{newsItem: newsItem, settings:settings}"/>
						</div>
					</f:if>
					<hr class="soften">
					<f:render partial="Detail/MediaContainerLightbox" arguments="{media: newsItem.media, settings:settings}"/>
					
					
					
					<f:if condition="{newsItem.relatedFiles}">
						<hr class="soften">
						<h4><f:translate key="LLL:EXT:theme_government/Resources/Private/Language/locallang.xml:files" /></h4>
						<f:for each="{newsItem.relatedFiles}" as="relatedFile">
							<p>
								<n:format.fileDownload file="uploads/tx_news/{relatedFile.file}" configuration="{settings.relatedFiles.download}">
									<f:if condition="{relatedFile.title}">
										<f:then>
											{relatedFile.title}
										</f:then>
										<f:else>
											{relatedFile.file}
										</f:else>
									</f:if>
								</n:format.fileDownload>
								(<n:format.fileSize file="uploads/tx_news/{relatedFile.file}" format="{settings.relatedFiles.fileSizeLabels}" />)
							</p>
						</f:for>
					</f:if>
					
					<f:if condition="{newsItem.relatedLinks}">
						<hr class="soften">
						<h4><f:translate key="LLL:EXT:theme_government/Resources/Private/Language/locallang.xml:links" /></h4>
						<f:for each="{newsItem.relatedLinks}" as="relatedLink">
							<p>
								<f:if condition="{relatedLink.title}">
									<f:then>
										<f:link.page pageUid="{relatedLink.uri}">{relatedLink.title}</f:link.page>
									</f:then>
									<f:else>
										<f:link.page pageUid="{relatedLink.uri}">{relatedLink.uri}</f:link.page>
									</f:else>
								</f:if>
							</p>
						</f:for>
					</f:if>
					
					<f:if condition="{newsItem.allRelatedSorted}">
						<hr class="soften">
						<h4><f:translate key="LLL:EXT:theme_government/Resources/Private/Language/locallang.xml:news" /></h4>
						<f:for each="{newsItem.allRelatedSorted}" as="related">
							<p>
								<n:link newsItem="{related}" settings="{settings}">
									<f:format.crop maxCharacters="{settings.detail.cropRelatedNews}" respectWordBoundaries="true">{related.title}</f:format.crop>
								</n:link>
								(<f:format.date format="d.m.Y">{related.datetime}</f:format.date>)
							</p>
						</f:for>
					</f:if>
				</footer>
				</div>
				<div class="span9">
					<f:format.html>{newsItem.bodytext}</f:format.html>
					<f:if condition="{settings.backPid}">
						<f:link.page pageUid="{settings.backPid}" class="btn btn-small">
							<f:translate key="LLL:EXT:theme_government/Resources/Private/Language/locallang.xml:back" />
						</f:link.page>
					</f:if>
				</div>
			</div>
		</f:then>
		<f:else>

		</f:else>
	</f:if>
</f:section>