body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      .border-radius(@noBorderRadius);
    }

    .navbar .brand {
		float: left;
		display: block;
		background: #ffffff url("@{navbarLogo}") no-repeat left top;
		width: @navbarLogoWidth;
		height: @navbarLogoHeight;
		padding:0px;
		margin:0 0 0 -20px;
		span {display:none;}
		outline:none; 
	}



    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 2px;
    }

	.navbar .btn-navbar {
	  display: none;
	  padding: 30px 30px;
	  margin-left: 0px;
	  margin-right: 0px;
	  .buttonBackground(darken(@navbarButtonHighlight, 5%), darken(@navbarButton, 5%));
	  .box-shadow(none);
	}
	.navbar .btn-navbar .icon-bar {
	  display: block;
	  width: 18px;
	  height: 2px;
	  background-color: #FFF;
	  .border-radius(0px);
	  .box-shadow(none);
	}



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
    }

    .carousel-control {
      height: 80px;
      top: 50%;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 650px;
      padding: 0 100px;
      margin-top: 200px;
    }
    .carousel-caption h1 {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .carousel-caption .lead {
      margin: 0;
      line-height: 1.5;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
	  background-color:#000;
	  .clearfix();
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }